$primary: #3270ed;
$family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", "Cantarell", "Ubuntu", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$navbar-breakpoint: 1px;
$mobile-breakpoint: 640px;

// button height + (4px padding * 2)
$controls-height: calc(2.5em + 8px);

@import "node_modules/bulma/bulma";

html{
  height: 100%;
}

body {
  --bg-color: #{$white};
  --text-color: #{$black};
  --content-bg-color: #{$light};
  --control-bg-color: #{$white};
  --control-border-color: #{$white};


  &.dark-theme {
    --bg-color: #{$grey-darker};
    --text-color: #{$white};
    --content-bg-color: #{$grey-dark};
    --control-bg-color: #{$grey-darker};
    --control-border-color: #{$grey-dark};
  }

  @media (prefers-color-scheme: dark) {
    --bg-color: #{$grey-darker};
    --text-color: #{$white};
    --content-bg-color: #{$grey-dark};
    --control-bg-color: #{$grey-darker};
    --control-border-color: #{$grey-dark};

    &.light-theme {
      --bg-color: #{$white};
      --text-color: #{$black};
      --content-bg-color: #{$light};
      --control-bg-color: #{$white};
      --control-border-color: #{$white};
    }
  }
}

.button {
  background-color: var(--control-bg-color);
  border-color: var(--control-border-color);
}

.select{
  select {
    background-color: var(--control-bg-color);
    border-color: var(--control-border-color);
    color: var(--text-color);
  }
}

body {
  min-height: calc(100% - $controls-height);
  background-color: var(--bg-color);
  color: var(--text-color);

  @media screen and (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100vh;
  }
}

.controls {
  display: flex;
  padding: 4px;
  background: var(--content-bg-color);
  position: fixed;
  width: 100%;
  top:0;

  .mobile-metadata-toggle {
    display: none;
  }

  #mobile-metadata-controls {
    display: none;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    bottom: 0;
    top: initial;
    position: fixed;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

    .control-buttons {
        flex-direction: row-reverse;

        &.field.has-addons {
          .control:last-child {
            margin-right: -1px;
            .button {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
          }
          .control:first-child {
            .button {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
          }
        }
    }

    #status {
      display: flex;
      justify-content: flex-end;
    }

    .mobile-metadata-toggle {
      display: flex;
      flex-basis: 100%;
      height: 0;
    }

    #mobile-metadata-controls{
      &.is-active {
        display: flex;
        padding-bottom: 0.5rem;
        flex-direction: column;
      }
    }

    .mobile-control {
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      .mobile-control-label {
        font-weight: bold;
        margin-right: 0.5rem;
        &:after {
          content: ":";
        }
      }
    }
  }

  & > .field {
    margin-bottom: 0;
  }

  .radio-buttons {
    list-style-type: none;

    & li {
      float: left;
      width: 128px;
      height: 2rem;
      position: relative;
      margin-right: 0;
      padding-right: 0;

      &.compact {
        width: 64px;
      }

      &:first-child {
        label{
          border-radius: 4px 0 0 4px;
        }
      }

      &:last-child {
        label{
          border-radius: 0 4px 4px 0;
        }
      }
    }

    & label,input{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    & input[type="radio"] {
      opacity: 0;
      z-index: 1;
      cursor: pointer;

      &:checked + label {
        background-color: $primary;
        color: $white;
      }
    }

    & label {
      background-color: var(--control-bg-color);
      color: var(--text-color);
      text-align: center;
      line-height: 2rem;
    }
  }
}

.metadata-selectors {
 @media screen and (max-width: $mobile-breakpoint) {
    display: none !important; // Override Bulma .field.is-grouped
  }
  display: initial;
}

.log-list{
  margin-top: $controls-height;
  margin-bottom: 0 !important; // Override Bulma .table:not(:last-child)
  font-family: monospace;
  display: grid;
  grid-template-columns: 5fr 95fr;
  row-gap: 0.25rem;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-bottom: $controls-height !important; // Override Bulma .table:not(:last-child)
    margin-top: 0;
  }

  .log-entry {
    display: contents;
    &:nth-child(even){
      div {
        background-color: var(--content-bg-color);
      }
    }

    .log-entry__ts {
      grid-column: 1;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }

    .log-entry__content {
      grid-column: 2;
      word-break: break-word;
    }
  }

  .plain-log-entry {
    text-align: center;
    font-family: $family-sans-serif;
    grid-column: 1 / 3;
  }
}

#status {
  margin: .5em 4px;
  flex-grow: 1;
}

.button > .icon {
  pointer-events: none;
}
